@import "./partials/nav.scss",
"./partials/_footer.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
	padding-top: 25px;
}

/* title */
.heading{
	text-align: center;
    .waviy {
        position: relative;
        span {
        position: relative;
        display: inline-block;
        font-size: 30px;
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
        }
    }
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}



