
/* footer */
footer{
	background: linear-gradient(to right,#a18dce, #a18dce, #bd82c3);
	padding-bottom: 8px;
	color: $n;
	padding-bottom: 15px;
    a{
	color: $n;
    }

    .padding1{
        margin-left: 5px;
        margin-right: 5px;
    }
    .text-aling i{
        margin-left: 8px;
        margin-top: 20px;
    } 
}
